anyio
asgiref
attrs
bottle
certifi
charset-normalizer
click
colorama
Django
h11
idna
marshmallow
numpy
packaging
pillow
platformio
protobuf
pyserial
python-dateutil
requests
semantic-version
six
sniffio
sqlparse
starlette
tabulate
typing_extensions
tzdata
urllib3
uvicorn
wsproto
